<log4net>

  <logger name="general">
    <level value="ALL" />
    <appender-ref ref="logfile1"/>
  </logger>

  <logger name="propagation">
    <level value="ALL" />
    <appender-ref ref="logfile2"/>
  </logger>

  <logger name="state_sequence">
    <level value="ALL" />
    <appender-ref ref="logfile3"/>
  </logger>

  <appender name="logfile1" type="log4net.Appender.RollingFileAppender">
    <file value="Simulator_general.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="logfile2" type="log4net.Appender.RollingFileAppender">
    <file value="Propagation.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="logfile3" type="log4net.Appender.RollingFileAppender">
    <file value="StateSequence.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>

</log4net>